In [52]:
import this

In [53]:
import this

Question #1

In [ ]:
def multiply_by_two(numbers):
    results = []
    for num in numbers:
        results.append(num * 2)
    return results

multiply_by_two([3, 4])

[6, 8]

In [38]:
def multiply_by_two(numbers):
  return [num * 2 for num in numbers]


multiply_by_two([3, 4])

[6, 8]

Question #2

In [41]:
def add_by_two(numbers):
    results = []
    for num in numbers:
        results.append(num + 2)
    return results

In [39]:
def add_by_two(numbers):
  return [num + 2 for num in numbers]

add_by_two([3, 4])

[5, 6]

Question #3

In [42]:
def to_uppercase(strings):
    results = []
    for s in strings:
        results.append(s.upper())
    return results

to_uppercase(['we', 'love', 'python'])

['WE', 'LOVE', 'PYTHON']

In [43]:
def to_uppercase(strings):
  return [s.upper() for s in strings]

to_uppercase(['we', 'love', 'python'])

['WE', 'LOVE', 'PYTHON']

Question #4

In [44]:
class Person:
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name


def get_first_names(people):
    results = []
    for person in people:
        results.append(person.first_name)
    return results

person1 = Person("Angela", "Davis")
person2 = Person("Yuri", 'Kochiyama')
get_first_names([person1, person2])

['Angela', 'Yuri']

In [45]:
def get_first_names(people):
  return [person.first_name for person in people]

person1 = Person("Angela", "Davis")
person2 = Person("Yuri", 'Kochiyama')
get_first_names([person1, person2])

['Angela', 'Yuri']

Question #5

In [46]:
class Person:
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name


def get_names(people):
    results = []
    for person in people:
        results.append({
            "first_name": person.first_name,
            "last_name": person.last_name,
        })
    return results

person1 = Person("Angela", "Davis")
person2 = Person("Yuri", 'Kochiyama')
get_names([person1, person2])

[{'first_name': 'Angela', 'last_name': 'Davis'},
 {'first_name': 'Yuri', 'last_name': 'Kochiyama'}]

In [48]:
def get_names(people):
  return [{
            "first_name": person.first_name,
            "last_name": person.last_name
           }
          for person in people]

person1 = Person("Angela", "Davis")
person2 = Person("Yuri", 'Kochiyama')
get_names([person1, person2])

[{'first_name': 'Angela', 'last_name': 'Davis'},
 {'first_name': 'Yuri', 'last_name': 'Kochiyama'}]

Question #6

In [49]:
class Person:
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name
        self.children = []

    def add_child(self, person):
        self.children.append(person)


def get_person_and_child_names(person):
    child_names = []
    for child in person.children:
        child_names.append({
            "first_name": child.first_name,
            "last_name": child.last_name,
        })

    return {
        "first_name": person.first_name,
        "last_name": person.last_name,
        "children": child_names,
    }

person2 = Person("Yuri", "Kochiyama")
person3 = Person("Audee", "Kochiyama")
person4 = Person("Jimmy", "Kochiyama")
person2.add_child(person3)
person2.add_child(person4)
get_person_and_child_names(person2)

{'first_name': 'Yuri',
 'last_name': 'Kochiyama',
 'children': [{'first_name': 'Audee', 'last_name': 'Kochiyama'},
  {'first_name': 'Jimmy', 'last_name': 'Kochiyama'}]}

In [50]:
def get_person_and_child_names(person):
  child_names = [{
                  "first_name": child.first_name,
                  "last_name": child.last_name,   
                  }
                 for child in person.children]
  return {
      "first_name": person.first_name,
      "last_name": person.last_name,
      "children": child_names,
  }

person2 = Person("Yuri", "Kochiyama")
person3 = Person("Audee", "Kochiyama")
person4 = Person("Jimmy", "Kochiyama")
person2.add_child(person3)
person2.add_child(person4)
get_person_and_child_names(person2)

{'first_name': 'Yuri',
 'last_name': 'Kochiyama',
 'children': [{'first_name': 'Audee', 'last_name': 'Kochiyama'},
  {'first_name': 'Jimmy', 'last_name': 'Kochiyama'}]}